.button {
  padding: 20px 96px;
  background: transparent;
  border: 1px solid #bcc1c7;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .button {
    padding: 18px 72px;
  }
}
@media (max-width: 610px) {
  .button {
    padding: 18px 48px;
  }
}
@media (max-width: 425px) {
  .button {
    font-size: 15px;
    font-weight: 400;
  }
}
